{% extends 'layout.twig' %}

{% block body %}
<form class="create-form" action="http://localhost:3000/createContact" method="POST">
  <div class="container">
    <label for="nom"><b>Name : </b></label>
    <input type="text" name="nom" required>
    <label for="prenom"><b>First name : </b></label>
    <input type="text" name="prenom" required>
    <label for="numero"><b>Phone number : </b></label>
    <input type="text"  name="phone" required>
    <label for="email"><b>Mail : </b></label>
    <input type="text"  name="mail" required>
    <label for="description"><b>Description</b></label>
    <input type="text" name="description">
  </div>
  <button>Create contact</button>
  <button><a href="/annuaire/views/contactDetails.twig">Edit a contact</a></button>
  <button>Delete a contact</button>
</form>
{% endblock %}
