{% extends 'layout.twig' %}

{% block body %}
<div class="details-contact">
    <a>Contact :</a>
    <p>Name : {{ contact.nom }}</p>
    <p>First Name : {{ contact.prenom }}</p>
    <p>Phone : {{contact.phone}} </p>
    <p>Mail : {{contact.mail}} </p>
    <p>Description : {{ contact.description }}</p>
     <a href="/contacts/update/{{ contact._id }}">Update</a>
    <a href="/contacts/delete/{{ contact._id }}">Delete</a>
</div>
{% endblock %}