{% extends 'layout.twig' %}
{% block body %}
<tbody>
				{% for contact in contacts %}
			  <tr>
					<td>{{ contact.nom }}</td>
					<td>{{ contact.prenom }}</td>
					<td>{{ contact.description }}</td>
					<td>{{ contact.mail }}</td>
					<td>{{ contact.phone }}</td>
					{% endfor %}  
			  </tr>
			</tbody>
      {% endblock %}